.closebutton {
    cursor: pointer; 
    color: white;
}

.window {
    border: solid;
    border-color:white;
    border-radius: 16px;
    position: absolute;
    background-color: #0e0430;
    width: 600px;
    height: 400px; 
    overflow: auto;

}

.windowheader {

    color:white

}